<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/chart.js"></script>
    <title>HOME</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <script src="/js/sweetalert2.all.min.js"></script>
    <nav class="navbar"> 
        <%if (path != '/home'){%>
            <a href="/home"><button type="button" class="button-nav ">Home</button></a>
        <%}%>
        <%if (path == '/home'){%>
            <button type="button" class="button-nav togle-modal">Nueva grafica</button>
        <%}%>
        <%if (admin && path != '/users'){%>
            <a href="/users"><button type="button" class="button-nav">Usuarios</button></a>
        <%}%>
        <%if (path == '/users'){%>
            <button type="button" class="button-nav togle-modal">Nuevo usuario</button>
        <%}%>
        <%if (path == '/control'){%>
            <button type="button" class="button-nav togle-modal">Nuevo control</button>
        <%}%>
        <%if (path != '/control'){%>
            <a href="/control"><button type="button" class="button-nav togle-modal">Controles</button></a>
        <%}%>

      <a href="/"><button type="button" class="button-nav button-logout">Salir</button></a>
    </nav>
    <div class="alert"></div>
    <div class="container-body">
        <%- body %>
    </div>
    <script src="/js/functions.js"></script>

</body>
</html>