html, body {
    min-height: 100%;
    background-attachment: fixed;
}
body::before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}  
body::after {
    content: "";
    background: url('/img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -2;  
}

/* nav{
    height: 50px !important;
    backdrop-filter: blur(5px) saturate(148%) !important;
    -webkit-backdrop-filter: blur(5px) saturate(148%);
    background-color: rgba(34, 33, 33, 0.4) !important;
    border-radius: 12px;
    border: 1px solid rgba(90, 89, 89, 0.753);
    margin-top: 0 !important;
} */
nav{
    backdrop-filter: blur(5px) saturate(148%) !important;
    -webkit-backdrop-filter: blur(5px) saturate(148%);
    background-color: rgba(34, 33, 33, 0.4) !important;
    border: 1px solid rgba(90, 89, 89, 0.753);
}
.button-nav{
    border-radius: 12px !important;
    backdrop-filter: blur(5px) saturate(148%) !important;
    -webkit-backdrop-filter: blur(5px) saturate(148%) !important;
    background-color: rgba(158, 158, 158, 0.4) !important;
    border: 1px solid rgba(150, 150, 150, 0.753) !important;
}
.button-nav:hover{
    backdrop-filter: blur(5px) saturate(148%) !important;
    -webkit-backdrop-filter: blur(5px) saturate(148%);
    background-color: rgba(238, 238, 238, 0.4) !important;
    border: 1px solid rgba(150, 150, 150, 0.753) !important;
}
.button-nav:active{
    backdrop-filter: blur(10px) saturate(148%) !important;
    -webkit-backdrop-filter: blur(10px) saturate(148%) !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    border: 1px solid rgba(150, 150, 150, 0.753) !important;
} 


/* .button-nav{
    height: 45px !important;
    width: 100px !important;
    margin-top: 2px !important;
    margin-left: 5px;
    border-radius: 12px;
    backdrop-filter: blur(5px) saturate(148%);
    -webkit-backdrop-filter: blur(5px) saturate(148%);
    background-color: rgba(158, 158, 158, 0.4) !important;
    border: 1px solid rgba(150, 150, 150, 0.753) !important;
    color: white;
}

.button-nav:hover{
    backdrop-filter: blur(5px) saturate(148%);
    -webkit-backdrop-filter: blur(5px) saturate(148%);
    background-color: rgba(238, 238, 238, 0.4) !important;
    border: 1px solid rgba(150, 150, 150, 0.753) !important;
}
.button-nav:active{
    backdrop-filter: blur(10px) saturate(148%);
    -webkit-backdrop-filter: blur(10px) saturate(148%);
    background-color: rgba(255, 255, 255, 0.3) !important;
    border: 1px solid rgba(150, 150, 150, 0.753) !important;
} */
.button-logout{
    margin-top: 15px;
    float: right;
}

.container-p{
    display: flex;
    flex-wrap: wrap;
    /* align-items: end; */
    /* justify-content: space-between; */
    /* gap: 10px; */
}

.container-c{
    display: flex;
    flex-wrap: wrap;
    /* align-items: end; */
    justify-content: space-between;
    gap: 10px;
}

.div-graf{
    margin-top: 10px !important;
    margin-left: 5px !important;
    backdrop-filter: blur(5px) saturate(148%) !important;
    -webkit-backdrop-filter: blur(5px) saturate(148%) !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
    border-radius: 12px !important;
    border: 1px solid rgba(255, 255, 255, 0.753) !important;
}
.div-control {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Asegura que el espacio esté distribuido entre los elementos */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center;
    width: 300px;
    height: 500px;
    margin-top: 10px;
    margin-left: 5px;
    backdrop-filter: blur(5px) saturate(148%);
    -webkit-backdrop-filter: blur(5px) saturate(148%);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.753);
}

.modal{
    width: 400px !important;
    border-radius: 15px !important;
    backdrop-filter: blur(5px) saturate(148%) !important;
    -webkit-backdrop-filter: blur(5px) saturate(148%) !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
}

/* Estilo para el contenido del modal */
/* .modal-content {
    backdrop-filter: blur(5px) saturate(148%);
    -webkit-backdrop-filter: blur(5px) saturate(148%);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.753);
    margin: 15% auto; /* Centra el modal en la pantalla 
    padding: 20px;
    width: 20%; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   } */
   
   /* Estilo para el botón de cerrar */
.close {
    margin-top: -10px;
    color: #3d3d3d;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
   
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.div-form{
    text-align: center;
}

.div-input{
    margin-top: 3px;
}


input,
select
{
    width: 100%;
    height: 30px;
    border-radius: 12px !important;
    backdrop-filter: blur(5px) saturate(148%) !important;
    -webkit-backdrop-filter: blur(5px) saturate(148%) !important;
    background-color: rgba(158, 158, 158, 0) !important;
    border: 1px solid rgba(150, 150, 150, 0.753) !important;
    color: black !important;

}
input:focus,
select:focus
{
    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: blur(10px) saturate(100%);
    background-color: rgba(255, 255, 255, 0.515);
    outline-color: rgba(255, 255, 255, 0);
    

}

select:checked{
    background-color: transparent;
}

.div-button-del-graf{
    text-align: end;
}

.divContentButton{
    height: auto;
    width: auto;
}

.div-button-del-control{
    text-align: end;
    align-self: flex-end;
}

.button-del-graf{
    height: 35px;
    width: 60px;
    margin-top: 2px;
    margin-left: 5px;
    border-radius: 12px;
    backdrop-filter: blur(5px) saturate(148%);
    -webkit-backdrop-filter: blur(5px) saturate(148%);
    background-color: rgba(255, 0, 0, 0.4);
    border: 1px solid rgba(255, 0, 0, 0.2);
    color: white;
}
.button-del-graf:hover{
    backdrop-filter: blur(5px) saturate(148%);
    -webkit-backdrop-filter: blur(5px) saturate(148%);
    background-color: rgba(250, 0, 0, 0.712);
    border: 1px solid rgba(255, 0, 0, 0.2);
}
.button-del-graf:active{
    backdrop-filter: blur(10px) saturate(148%);
    -webkit-backdrop-filter: blur(10px) saturate(148%);
    background-color: rgb(255, 0, 0);
    border: 1px solid rgba(255, 0, 0, 0.2);
}

.color{
    width: 30%;
}
.color-opacity{
    width: 30%;
    height: auto;
}

.table {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-items: end;
    text-align: center;
    overflow: hidden;
}

.table-content {
    width: 600px; 
    border-collapse: collapse; 
    margin: 0 auto; 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); 
    backdrop-filter: blur(4px); 
    overflow: hidden;
}
/*
thead{
    border-radius: 15px; 
}

.table-content th, .table-content td {
    
    padding: 12px 15px; 
    text-align: left; 
}

.table-content th {
    backdrop-filter: blur(5px) saturate(148%);
    -webkit-backdrop-filter: blur(5px) saturate(148%);
    background-color: #00000085; 
    color: #fffdfd; 
}

.table-content tr:nth-child(even) {
    backdrop-filter: blur(5px) saturate(148%);
    -webkit-backdrop-filter: blur(5px) saturate(148%);
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.753);
} */


.controlTitle{
    margin-top: 1px;
    text-transform: uppercase;
    font-style: italic;
    font-size: 25px !important;
}

.button-control{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    height: 80px !important;
    width: 80px !important;
    text-align: center;
}

.btnVol{
    display: flex;
    flex-wrap: wrap;
    height: 20px !important;
    margin-top: 30px !important;
    text-align: center;
}

.labelRange{
    display: flex;
    margin-top: -15px !important;
    margin-left: 15px !important;
    color: white;
    font-size: 15px !important;
    text-align: center;
    text-transform: uppercase;
}

.swal2-container .select-wrapper{
    display: none;
}
.swal2-container .swal2-popup.swal2-modal.swal2-icon-error.swal2-show{
    backdrop-filter: blur(5px) saturate(148%) !important;
    -webkit-backdrop-filter: blur(5px) saturate(148%) !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
    border-radius: 12px !important;
    border: 1px solid rgba(255, 255, 255, 0.753) !important;
}