

<div class="container-p" id="controlFather"></div>

  <div id="modal1" class="modal">
    <div class="modal-content">
        <div class="card-head">
            <span class="close"><a href="#!" class="modal-close btn-flat-right close">&times;</a></span>
        </div>
        <form action="/newControl" method="POST">
            <div class="div-input">
              <select name="deviceId" id="device">
                <option selected value="">Selecione el dispositivo</option>
                  <%devices.forEach((device) =>{%>
                      <option  value="<%=device._id%>"><%=device.name%></option>
                  <%})%>
              </select>
            </div>
            <div class="div-input">
              <input type="text" name="name" id="name" placeholder="Nombre para el control" value=''>
            </div>
            <div class="div-input">
              <input type="text" name="topic" id="topic" placeholder="Topic" value="command">
            </div>
            <div class="div-input">
              <input type="number" name="buttons" id="cant" placeholder="Cantidad de botones" step="1" min="1" max="12" onchange="buttonsForControl()">
            </div>
            <div class="row" id="buttons">
            </div>
            <div class="div-button-del-control">
              <button class="btn-floating  waves-effect waves-light btn-small green" type="submit">+</button>
            </div>
        </form>
    </div>
  </div>

<script>
    (function (){
      let error = '<%= error %>'
      let exito = '<%= exito %>'
      if (error){
        console.log(error)
        Swal.fire({
          title: 'Error',
          text: error,
          icon: 'error'
        })
      }
      if (exito){
        console.log(exito)
        Swal.fire({
          title: 'Exito',
          text: exito,
          icon: 'success'
        })
      }
    })();
</script>